PersonWCFProject/PersonWebApp/Service References/PersonServ/PersonService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50831/PersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PersonEntities" />
  <xs:element name="GetPersonLongServ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="age" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonLongServResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PersonEntities" minOccurs="0" name="GetPersonLongServResult" nillable="true" type="q1:ArrayOfPersonLongEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonShortServ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="age" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonShortServResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PersonEntities" minOccurs="0" name="GetPersonShortServResult" nillable="true" type="q2:ArrayOfPersonShortEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveToPersonShortServ">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PersonEntities" minOccurs="0" name="lst" nillable="true" type="q3:ArrayOfPersonShortEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveToPersonShortServResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowDates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShowDatesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>