PersonWCFProject/PersonWebApp/Service References/PersonServ/PersonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50831/PersonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50831/PersonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50831/PersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PersonEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonService_GetPersonLongServ_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonLongServ" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonLongServ_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonLongServResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonShortServ_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonShortServ" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonShortServ_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonShortServResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SaveToPersonShortServ_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveToPersonShortServ" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SaveToPersonShortServ_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveToPersonShortServResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_ShowDates_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowDates" />
  </wsdl:message>
  <wsdl:message name="IPersonService_ShowDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowDatesResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonService">
    <wsdl:operation name="GetPersonLongServ">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonLongServ" message="tns:IPersonService_GetPersonLongServ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonLongServResponse" message="tns:IPersonService_GetPersonLongServ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonShortServ">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonShortServ" message="tns:IPersonService_GetPersonShortServ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonShortServResponse" message="tns:IPersonService_GetPersonShortServ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveToPersonShortServ">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SaveToPersonShortServ" message="tns:IPersonService_SaveToPersonShortServ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SaveToPersonShortServResponse" message="tns:IPersonService_SaveToPersonShortServ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowDates">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/ShowDates" message="tns:IPersonService_ShowDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/ShowDatesResponse" message="tns:IPersonService_ShowDates_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonService" type="tns:IPersonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonLongServ">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonLongServ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonShortServ">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonShortServ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveToPersonShortServ">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SaveToPersonShortServ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowDates">
      <soap:operation soapAction="http://tempuri.org/IPersonService/ShowDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="BasicHttpBinding_IPersonService" binding="tns:BasicHttpBinding_IPersonService">
      <soap:address location="http://localhost:50831/PersonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>