PersonWCFProject/PersonWebApp/Service References/PersonServ/PersonService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PersonEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PersonEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonLongEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonLongEntity" nillable="true" type="tns:PersonLongEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonLongEntity" nillable="true" type="tns:ArrayOfPersonLongEntity" />
  <xs:complexType name="PersonLongEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person_Id" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonLongEntity" nillable="true" type="tns:PersonLongEntity" />
  <xs:complexType name="ArrayOfPersonShortEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonShortEntity" nillable="true" type="tns:PersonShortEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonShortEntity" nillable="true" type="tns:ArrayOfPersonShortEntity" />
  <xs:complexType name="PersonShortEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonShortEntity" nillable="true" type="tns:PersonShortEntity" />
</xs:schema>